# Aula 05 - Funções e Organização de Código

Agenda:
    1. Novas perguntas de negócio
    2. Planjamento da Solução.
    3. A diferença entre um código amador e um profissional.
    4. O que são funções e porque são uteis.
    5. Dashboards interativos na web
    6. Exercicios.
    
    
    
1. Novas perguntas de negócio.
1.1 Recapitulando o desafio: https://sejaumdascientist.com/os-5-projetos-de-data-science-que-fara-o-recrutador-olhar-para-voce/
    

1.2. Novas perguntas do CEO para voce:
    1. Não consigo usar o mapa que voce me enviou por email.
    
    2. preciso acessar o mapa e o dashboard do meu celular.
    
2. Planjamento da Solução
2.1 Produto final (o que vou entregar efetivamente?)
    - Um link(URL) https://www.houserocket.dashboard.com.br
        
2.2 Ferramenta para ser utilizada:
    - Python 3.8.2
    -jupyter Notebook
    -Pycharm
    
2.3 Processo:
    1. Organizar meu códigos em funções.
    
    2. Pesquisar bibliotecas com funções para criar mapas que podem acessar pelo browser.
    
    
3. A diferença de um codigo amador x profissional

3.1 Profissional Junior x Profissinal Senior

junior:
    1. Faz código macarronico
    2. faz codigo só pra ele, ninguem entende.
    3. Não usa as estruturas de dados corretamente e acha que só existe dataframe
    4. não usa funções.
    5. não organiza codigo de forma lógica e simples.
    
    
    
Senior: 
    1. faz codigo modular.
    2. faz o codigo para seu time e para sua empresa
    3. sabe exatamente quando usar as estruturas de dados.
    4. usar funções para modularizar e escalar seu codigo.
    5. seus codigos parecem livros( facéis de serem lidos, enterpretados, reutilizados.)
    
    
 Exercicios
1. Organizar o código da aula 04 em funções.
2. Refazer o gráfico e o dashboards com o Streamlit
3. Testar novos tipos de filtros.

## imports

In [2]:
import pandas as pd

## Functions

#### Requisitos de uma função:
1. Nome  - em relação a sua responsabilidade
2. Input - parametros de entrada
3. Output - dados de saída

In [18]:
# View Type of data
def show_dtypes(data):
    print(data.dtypes)
    return None

In [20]:
# data dimensions
def show_dimensions(data): 
    print('Number of rows: {}'.format(df1.shape[0]))
    print('Number of columns: {}'.format(df1.shape[1]))
    return None

In [21]:
show_dimensions(df1)

Number of rows: 20
Number of columns: 6

## carregando os dados

In [3]:
data = pd.read_csv('./datasets/kc_house_data.csv')

## Extraction

## Transformation

## Descriptive statistics

In [10]:
num_atributes = data.select_dtypes(include=['int64', 'float64'])

# central tendency - media, media
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x) 
media = pd.DataFrame(num_atributes.apply(np.mean, axis=0))
mediana = pd.DataFrame(num_atributes.apply(np.median, axis=0))


# dispersion -std, min, max
std = pd.DataFrame(num_atributes.apply(np.std, axis=0))
min_ = pd.DataFrame(num_atributes.apply(np.min, axis=0))
max_ = pd.DataFrame(num_atributes.apply(np.max, axis=0))

df1 = pd.concat([max_, min_, media, mediana, std], axis=1).reset_index()
df1.columns = ['attributes', 'maximo', 'minimo', 'media', 'mediana','std']

In [11]:
df1

,attributes,maximo,minimo,media,mediana,std
0,id,9900000190.000,1000102.000,4580301520.865,3904930410.000,2876499023.428
1,price,7700000.000,75000.000,540088.142,450000.000,367118.703
2,bedrooms,33.000,0.000,3.371,3.000,0.930
3,bathrooms,8.000,0.000,2.115,2.250,0.770
4,sqft_living,13540.000,290.000,2079.900,1910.000,918.420
5,sqft_lot,1651359.000,520.000,15106.968,7618.000,41419.553
6,floors,3.500,1.000,1.494,1.500,0.540
7,waterfront,1.000,0.000,0.008,0.000,0.087
8,view,4.000,0.000,0.234,0.000,0.766
9,condition,5.000,1.000,3.409,3.000,0.651
10,grade,13.000,1.000,7.657,7.000,1.175
11,sqft_above,9410.000,290.000,1788.396,nan,828.109
12,sqft_basement,4820.000,0.000,291.509,0.000,442.565
13,yr_built,2015.000,1900.000,1971.005,1975.000,29.373
14,yr_renovated,2015.000,0.000,84.402,0.000,401.670
15,zipcode,98199.000,98001.000,98077.940,98065.000,53.504
16,lat,47.778,47.156,47.560,47.572,0.139
17,long,-121.315,-122.519,-122.214,-122.230,0.141
18,sqft_living15,6210.000,399.000,1986.552,1840.000,685.375
19,sqft_lot15,871200.000,651.000,12768.456,7620.000,27303.548

Number of rows: 20
Number of columns: 6