## Desafio 01

In [1]:
# imports
import pandas as pd
import pprint

In [2]:
# Lendo o arquivo
data = pd.read_csv('./datasets/kc_house_data.csv')

In [3]:
# fazendo uma copia dos dados
df = data.copy()

#verifcando a quantidade linhas e colunas
df.shape

(21613, 21)

In [4]:
# mostrando as primeiras 5 linhas
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
# verificando dados faltantes
df.isnull().any()

id               False
date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront       False
view             False
condition        False
grade            False
sqft_above        True
sqft_basement    False
yr_built         False
yr_renovated     False
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [6]:
df['sqft_above'].isnull().sum()

2

In [7]:
# removendo as linhas com dados faltantes
df.dropna()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [8]:
# verificando por dados duplicados
df.duplicated().sum()

0

## 1- Quantas casas estÃ£o disponiveis para compra?

In [9]:
# o '0' pega o numero de linhas
print(data.shape[0])

21613

## 2- Quantos atributos as casas possuem?

In [10]:
print(data.shape[1])

21

## 3- Quais sÃ£o os atributos das casas?

In [11]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4- Qual a casa mais cara(casa com o maior valor de venda)?

In [12]:
#data.loc[data['price'] == max(data['price']), 'id']
print( data[['id', 'price']].sort_values( 'price', ascending=False ) )

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

## 5- Qual a casa com o maior nÃºmero de quartos?

In [13]:
#data.loc[data['bathrooms'] == max(data['bathrooms']),'id']
#{dataframe.iloc[dataframe['price'] == max(dataframe['price']),'id']}")
n_bedrooms = data[['id', 'bedrooms']].sort_values( 'bedrooms', ascending=False ) 
print(n_bedrooms)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

## **6- Qual a soma total de quartos do conjunto de dados?**

In [14]:
soma_quartos = data['bedrooms'].sum()
print('A soma total de quartos Ã©: {}'.format(soma_quartos))

A soma total de quartos Ã©: 72854

## 7- Quantoas casas possuem 2 banheiros?

In [15]:
casas_2_bedrooms = data[data['bathrooms'] == 2].shape[0]
print('{} imÃ³veis possuem 2 banheiros '.format(casas_2_bedrooms))

1930 imÃ³veis possuem 2 banheiros

## 8- Qual o preÃ§o mÃ©dio de todas as casas no conjunto de dados?

In [16]:
ave_price = data[['price']].mean()
print('O preÃ§o mÃ©dio das casas Ã© de: {}'.format(ave_price))

O preÃ§o mÃ©dio das casas Ã© de: price    540088.141767
dtype: float64

## 9- Qual o preÃ§o mÃ©dio de casas com 2 banheiros?

In [17]:
media_price = data.loc[data['bathrooms'] == 2, 'price'].mean() 
print('O preÃ§o mÃ©dio das casas com 2 banheiros Ã©: R$ {:.2f}'.format(media_price))

O preÃ§o mÃ©dio das casas com 2 banheiros Ã©: R$ 457889.72

## 10- Qual o preÃ§o mÃ­nimo entre as casas com 3 quartos?

In [19]:
price_min = data.loc[data['bedrooms'] == 3, 'price'].min()
print('O mÃ­nimo entre as casas de 3 quartos Ã©: R$ {:.2f}'.format(price_min))

O mÃ­nimo entre as casas de 3 quartos Ã©: R$ 82000.00

## 11- Quantoas casas possuem mais de 300 metros quadrados na sala de estar?

In [21]:
# OBS: 1 pÃ© quadrado = 0,09 metros quadrados
house_300 = data['m2_living'] = data['sqft_living'] * 0.092
#print( data[data['m2_living'] > 300].shape )
print('{} casas possuem mais de 300 metros quadrados de sala de estar.'.format(data[data['m2_living'] > 300].shape[0]))

2141 casas possuem mais de 300 metros quadrados de sala de estar.

## 12- Quantas casas tem mais de 2 andares?

In [22]:
house_2 = data[data['floors'] > 2].shape[0]
print('R. {} casas tem mais de 2 dois andares.'.format(house_2))

R. 782 casas tem mais de 2 dois andares.

## 13- Quantas casas tem vista para o mar?

In [25]:
data['waterfront'].describe()

count    21613.000000
mean         0.007542
std          0.086517
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: waterfront, dtype: float64

In [23]:
vista_mar = data[data['waterfront'] == 1].shape[0]
print('R. {} casas tem vista para o mar.'.format(vista_mar))

R. 163 casas tem vista para o mar.

## 14- Das casas com vista para o mar, quantas tem 3 quartos?

In [24]:
house_3_mar = data[(data['waterfront'] == 1 ) & ( data['bedrooms'] == 3 )].shape[0]
house_3_mar

64

## 15- Das casas com mais de 300 metros quadrados de sala de estar e mais de 2 banheiros?

In [30]:
big_house = data[(data['m2_living'] > 300) & (data['bathrooms'] >2)].shape
big_house

(2088, 22)